h1{
    text-align: center;
}

img{
    width: 100%;
    padding: 5%;
    border-color: darkgray;
    border-width: 10px;
}
div{
    padding: 5px;
}
@media (min-width: 768px){
    img{
        width: 100%;
        border-radius: 100%;
        padding: 5%;
        border-color: darkgray;
        border-width: 10px;
    }
}
